﻿@{
    ViewBag.Title = "Anonymous chat";
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/apps/waitingDialog.js"></script>
    <script src="~/Scripts/apps/anonymous-chat.js"></script>
}

<div class="row fill">
    <div class="col-md-8">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">Messages</div>
                        <div class="col-xs-6">
                            <span class="pull-right" id="username">
                                
                            </span>
                        </div>
                    </div>
                </div>
                <div id="messages" class="panel-body" style="height: 500px; overflow-y: scroll;">

                </div>
            </div>
        </div>
        <div class="container">
            <form role="form">
                <div class="input-group">
                    <input type="text" class="form-control" id="text">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="send_button">
                            Send
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Active users</h3>
                </div>
                <div id="users" class="panel-body fill" style="height: 500px; overflow-y: scroll;"></div>
            </div>
        </div>
    </div>
</div>