﻿
html, body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.fill {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
}

.mymessage {
    background-color: #F0F8FF;
}
